<!doctype html>
<html lang="en">
<%- include('partials/head.ejs') %>

    <body>

        <script src="/js/bootstrapValidation.js"></script>

        <%- include('partials/nav.ejs') %>

        <div class="container">

            <div class="row">
                <h1 class="text-center"><%= title %> Page</h1>
            </div>            
    
            <form method="post" class="row g-3" novalidate>

                <%- include('partials/csrf.ejs') %>

                <div>
                    <div class="col-md-4">
                        <label for="validationUsername" class="form-label">Username</label>
                        <div class="input-group has-validation">
                            <input type="text" name="username" class="form-control needs-validation <%= formValidation.usernameInvalid %>" id="validationUsername"
                                value="<% if (locals.formData) { %><%= formData.username %><% } %>" aria-describedby="validationUsernameFeedback"  value="Mark" required >
                            <div id="validationUsernameFeedback" class="invalid-feedback">
                                <%= formValidation.usernameInvalidFeedbackText %>
                            </div>  
                        </div>
                    </div>
                </div>
                <div>
                    <div class="col-md-4">
                        <label for="password" class="form-label ">Password</label>
                        <input type="password" name="password" class="form-control needs-validation <%= formValidation.passwordInvalid %> " id="password" autocomplete="username"
                            value="<% if (locals.formData) { %><%= formData.password %><% } %>" value="Mark" required>
                        <div class="invalid-feedback">
                            <%= formValidation.passwordInvalidFeedbackText %>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="col-12">
                        <button class="btn btn-primary" type="submit">Log in</button>
                    </div>
                </div>

                <% if (locals.passmessage.length !== 0) { %>
                <div class="alert alert-danger">
                    <%= locals.passmessage %>
                </div>
                <% } %>

            </form>
        </div>

        <%- include('partials/footer.ejs') %>

    </body>

</html>