<!doctype html>
<html lang="en">
<%- include('partials/head.ejs') %>

<body>

    <%- include('partials/csrf.ejs') %>
    <%- include('partials/nav.ejs') %>

    <div class="container">

        <div class="row">
            <h1 class="text-center"><%= title %> Page</h1>
        </div>            

    </div>

<%- include('partials/footer.ejs') %>

</body>

</html>
