<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="/"><%= locals.appName %></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link <% if (title === 'Home') { %> active <% } %> " aria-current="page" href="/home">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link <% if (title === 'Public') { %> active <% } %> " aria-current="page" href="/public">Public</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link <% if (title === 'Protected') { %> active <% } %> " aria-current="page" href="/protected">Protected</a>
                </li>
            </ul>
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <% if  (locals.user) { %>
                    <li class="nav-item">
                        <a class="nav-link <% if (title === 'Logout') { %> active <% } %>" aria-current="page" href="/logout">Logout</a>
                    </li>
                <% } else { %>
                    <li class="nav-item">
                        <a class="nav-link <% if (title === 'Login') { %> active <% } %> " aria-current="page" href="/login">Login</a>
                    </li>
                <% } %>
            </ul>
        </div>
    </div>
</nav>